body{

background:#0b0f19;
color:white;
font-family:Arial;

}

header{

background:#111;
padding:20px;

}

.hero{

padding:100px;
text-align:center;

}

.panel{

background:#1f2937;
padding:20px;
margin:20px;
border-radius:10px;

}

.box{

background:#1f2937;
padding:30px;
width:300px;
margin:auto;
margin-top:100px;

}

input, button{

display:block;
margin:10px;
padding:10px;
width:90%;

}

button{

background:gold;
border:none;

}
